[submodule "utils/mitie_interface"]
	path = utils/mitie_interface
	url = https://github.com/mit-nlp/MITIE.git
[submodule "scrapers/mps_interests/parldata"]
	path = scrapers/mps_interests/parldata
	url = https://github.com/spudmind/parldata.git
