BeautifulSoup==3.2.1
Flask==0.10.1
Flask-RESTful==0.3.1
Jinja2==2.11.3
Mako==1.0.1
MarkupSafe==0.23
SQLAlchemy==0.9.8
Werkzeug==0.9.6
alembic==0.7.4
aniso8601==0.92
argparse==1.2.1
beautifulsoup4==4.3.2
egenix-mx-base==3.2.8
elasticsearch==1.4.0
fuzzywuzzy==0.4.0
gunicorn==19.3.0
itsdangerous==0.24
lxml==3.4.1
mechanize==0.2.5
py2neo==2.0.1
pymongo==2.7.2
pytz==2014.10
requests==2.5.3
scraperwiki==0.4.1
simplejson==3.6.5
six==1.9.0
urllib3==1.10.1
wsgiref==0.1.2
