{% extends "layout.html" %}

{% block article %}
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div id="government-container">

            <h3>Lobbying Agencies</h3>

            <div class="row">
                <div class="col-md-7">
                    <p>Here is a list of lobbying agencies in the UK register with the industry’s trade body, the Association of Professional Political Consultants.</p>

                    <p class="text-muted">As always, if you find glitches or inaccuracies in the data, please let us know, and always check the source before citing. </p>

                    <hr>

                    <div class="row">
                        <span class="label label-danger">ANALYSIS: WHAT THE DATA SHOWS</span>
                    </div>

                    <br>
                    <ul>
                        <li><b>Big pharma’s addiction to lobbying</b></li>
                        <li><b>Edelman</b></li>
                        <li><b>Priti Patel</b></li>
                    </ul>

                </div>

                <div class="col-md-5">


                    {% for entry in lobbyists %}
                        <a href="{{ entry.detail_url }}"><h4>{{ entry.name }}</h4></a>
                        <p>
                            {% for label in entry["labels"] %}
                                <span class="label label-success">{{ label }}</span>
                            {% endfor %}
                        </p>
                        <hr>
                    {% endfor %}

                </div>


            </div>


        </div>
    </div>

    <div class="col-md-1"></div>
    </div>
{% endblock article %}
