{% extends "layout.html" %}

{% block title %}

{% endblock title %}

{% block article %}
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div id="government-container">

            <h3><b>Who are ministers meeting?</b></h3>

            <div class="row">
                <div class="col-md-7">
                    <p>Since 2010 all government ministers have published a quarterly record of their meetings with outside organisations. Information is given on who met with whom, the date of the meeting and a brief description of the purpose of the meeting.</p>
                    <p>In reality, the ministerial meeting logs provide only a tiny window on discussions held with corporations and other outside interests. Not all meetings are recorded; and of those that are, few details are given on what has been discussed, with meetings frequently logged merely as ‘catch-up’ meetings, or ‘general discussions’. Records are also often published months late, not at all, or in remote corners of departmental websites. </p>
                    <p>Ministerial meeting data can sometimes provide a starting point for further investigation.</p>
                    <p><b>Explore the data</b></p>
                    <p>You can browse the government departments on the right; use the search above; or take a look at some of our analysis below.</p>

                    <p class="text-muted">As always, if you find glitches or inaccuracies in the data, please let us know, and always check the source before citing. </p>

                    <hr>

                    <div class="row">
                        <span class="label label-danger">ANALYSIS: WHAT THE DATA SHOWS</span>
                    </div>
                    <br>
                    <ul>
                        <li><b>Gifts from the tax avoidance industry</b></li>
                        <li><b>Tobacco firms lay it on for MPs</b></li>
                    </ul>

                </div>

                <div class="col-md-5">

                    <div class="row">
                        <span class="label label-danger"><b>SHOWING DATA FOR: Ministerial Meetings</b></span>
                    </div>
                    <br>
                    {% for entry in departments %}
                        <p><b>{{ entry.name }}</b> <a href="{{ entry.detail_url }}"> >> </a></p>
                    {% endfor %}
                </div>

            </div>

        </div>
    </div>

    <div class="col-md-1"></div>
    </div>
{% endblock article %}
