{% extends "layout.html" %}

{% block title %}

{% endblock title %}

{% block article %}
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div id="government-container">

            <h3><b>Meetings with ministers</b></h3>

            <div class="row">
                <div class="col-md-7">

                    <p class="text-muted">As always, if you find glitches or inaccuracies in the data, please let us know, and always check the source before citing. </p>

                    <hr>

                    <div class="row">
                        <span class="label label-danger">ANALYSIS: WHAT THE DATA SHOWS</span>
                    </div>
                    <br>
                    <ul>
                        <li><b>Gifts from the tax avoidance industry</b></li>
                        <li><b>Tobacco firms lay it on for MPs</b></li>
                    </ul>

                </div>

                <div class="col-md-5">

                    <div class="row">
                        <span class="label label-danger"><b>SHOWING DATA FOR: Ministerial Meetings</b></span>
                    </div>
                    {% for entry in departments %}

                        <div class="row-content">

                            <a href="{{ entry.detail_url }}"><h4>{{ entry.name }}</h4></a>
                            <div class="row">

                                <table class="table table-striped table-hover ">
                                    <colgroup>
                                        <col span="1" style="width: 25%;">
                                        <col span="1" style="width: 60%;">
                                        <col span="1" style="width: 5%;">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>Host</th>
                                        <th>Position</th>
                                        <th>Meetings</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for meeting in entry.influences_summary.meetings_summary %}
                                        <tr>
                                            <td><a href="{{ meeting.host["details_url"] }}">{{ meeting.host["name"] }}</a></td>
                                            <td>{{ meeting.position }}</td>
                                            <td>{{ meeting.meetings }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>

                        </div>

                    {% endfor %}


                </div>

                <ul class="pager">
                    {% if page == 1  %}
                        <li class="previous disabled"><a href="javascript:void(0)">Previous page</a></li>
                    {% else %}
                        <li class="previous"><a href="{{ url_for('show_meetings', page=page-1) }}">Previous page</a></li>
                    {% endif %}
                    <li class="next"><a href="{{ url_for('show_meetings', page=page+1) }}">Next page</a></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="col-md-1"></div>
    </div>
{% endblock article %}
