{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block article %}
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div id="government-container">

            {% if title.header == "Donation Recipient" %}
                <h3><b>Politicians’ extra funds</b></h3>
            {% elif title.header == "Outside Interests" %}
                <h3><b>Politicians outside earnings</b></h3>
            {% else %}
                <h3>{{ title.header }}</h3>
            {% endif %}

            <div class="row">
                <div class="col-md-7">
                    {% if title.header == "Donation Recipient" %}
                        <p>Under the party funding system, donations can be made to central parties, such as the Labour Party or the Conservative Party, but also to individual politicians. </p>
                        <p>Donations of this type can be used to fly MPs on ‘fact finding’ trips abroad. Donors can also make contributions to the politician’s private office, which can be used to cover extra staff, research or accommodation, or any political activity that can’t come out of taxpayer funds, such as party conference expenses.</p>
                        <p>Donations to private offices must be registered with the Electoral Commission. The information is updated quarterly, starting in September 2010 (for older data, visit the Electoral Commission).</p>
                        <p><b>Explore the data</b></p>
                        <p>You can browse the MPs on the right; use the search above; or take a look at some of our analysis below.</p>

                    {% elif title.header == "Outside Interests" %}

                        <p>Under current Parliamentary rules, our lawmakers are allowed to hold second jobs as long as they are declared on a public register. There are rules, however, that prevent them from accepting cash in return for favour.</p>
                        <p>Numerous scandals have revealed the weakness of these rules.</p>
                        <p>It is argued that Parliament is richer for the experience these outside jobs bring. The fact that much of the time, this experience is limited to being a director of a private healthcare company, or an advisor to a financial services firm – rather than, say, bringing the experience of being a carer, or a scientist – weakens the case fought by Parliamentarians to keep earning on the side.</p>
                        <p>The information here is from the MPs and Lords registers of interests. It allows us to see which legislators earn the most outside politics; and as important, who they are working for.</p>
                        <p><b>Explore the data</b></p>
                        <p>You can browse the politicians on the right; use the search above; or take a look at some of our analysis below.</p>

                    {% else %}

                        <p>You can browse the politicians on the right; use the search above; or take a look at some of our analysis below. </p>

                    {% endif %}

                    <p class="text-muted">As always, if you find glitches or inaccuracies in the data, please let us know, and always check information at the source before citing.</p>

                    <hr>

                    <div class="row">
                        <span class="label label-danger">ANALYSIS: WHAT THE DATA SHOWS</span>
                    </div>
                    <br>
                    <ul>
                        <li><b>Gifts from the tax avoidance industry</b></li>
                        <li><b>Tobacco firms lay it on for MPs</b></li>
                    </ul>

                </div>

                <div class="col-md-5">

                    {% if title.filter %}

                        <div class="row">
                            <span class="label label-danger"><b>FILTERING FOR: {{ title.filter }}</b></span>
                        </div>

                    {% endif %}
                    {% for entry in politicians %}
                        <a href="{{ entry.detail_url }}"><h4>{{ entry.name }}</h4></a>
                        <p>
                            {% if entry.party %}
                                <a href="{{ entry.party_url }}"><span class="label label-primary">{{ entry.party }}</span></a>
                            {% endif %}
                            {% for label in entry["labels"] %}
                                <span class="label label-success">{{ label }}</span>
                            {% endfor %}
                        </p>
                        <hr>
                    {% endfor %}

                </div>

                <ul class="pager">
                    {% if not pager.previous %}
                        <li class="previous disabled"><a href="javascript:void(0)">Previous page</a></li>
                    {% else %}
                        <li class="previous"><a href="{{ pager.previous }}">Previous page</a></li>
                    {% endif %}
                    {% if pager.next %}
                        <li class="next"><a href="{{ pager.next }}">Next page</a></li>
                    {% else %}
                        <li class="next disabled"><a href="javascript:void(0)">Next page</a></li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </div>

    <div class="col-md-1"></div>
    </div>
{% endblock article %}
