{% extends "single/single.html" %}

{% block title %}
    {{ mp.name }}{% if mp.party %} – {{ mp.party }}{% endif %}
{% endblock %}

{% block article %}
    <div class="col-md-12">
    <div id="government-container">
        <div class="row">
            <div class="col-md-6">

                {% if "mp_website" in mp or "wikipedia" in mp or "guardian" in mp or "bbc" in mp %}
                    <div class="well well-sm">
                        {% if mp["mp_website"] %}
                            <a href="{{ mp.mp_website }}">MP website</a>
                        {% endif %}
                        {% if "mp_website" in mp and "wikipedia" in mp %}
                            /
                        {% endif %}
                        {% if mp["wikipedia"] %}
                            <a href="{{ mp.wikipedia }}">Wikipedia</a>
                        {% endif %}
                        {% if mp["guardian"] %}
                            / <a href="{{ mp.guardian }}">Guardian</a>
                        {% endif %}
                        {% if mp["bbc"] %}
                            / <a href="{{ mp.bbc }}">BBC</a>
                        {% endif %}
                    </div>
                {% endif %}

                {% if mp["government_positions"] %}
                    <div class="well well-sm">
                        {% for position in mp["government_positions"] %}
                            <b>{{ position }}</b><br>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if mp["government_departments"] %}
                    <div class="well well-sm">
                        <b>Government Departments</b><br>
                        {% for dept in mp["government_departments"] %}
                            <a href="{{ dept.detail_url }}">{{ dept.name }}</a><br>
                        {% endfor %}
                    </div>
                {% endif %}

            </div>

            <div class="col-md-12">
                {% if mp["government_positions"] or mp["government_departments"] %}
                    <hr>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="list-group">

    {% if mp.influences_detail["meetings"] %}
        <div class="list-group-item">
            <div class="row-content">

                <h4 class="list-group-item-heading">Ministerial Meetings</h4>

                <table class="table table-striped table-hover ">
                    <colgroup>
                        <col span="1" style="width: 25%;">
                        <col span="1" style="width: 20%;">
                        <col span="1" style="width: 20%;">
                        <col span="1" style="width: 8%;">
                        <col span="1" style="width: 5%;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>Position</th>
                        <th>Attendee</th>
                        <th>Purpose</th>
                        <th>Date</th>
                        <th>Source</th>
                    </tr>
                    </thead>
                    {% with cols = 5 %}
                        {% include "_partials/_tfooter.html" %}
                    {% endwith %}
                    <tbody>
                    {% for meeting in mp.influences_detail.meetings %}
                        <tr>
                            <td>{{ meeting.position }}</td>
                            <td><a href="{{ meeting.attendee['details_url'] }}">{{ meeting.attendee["name"] }}</a></td>
                            <td>{{ meeting.purpose }}</td>
                            <td>{{ meeting.date }}</td>
                            <td>
                                <small><a href="{{ meeting.source_url }}">link</a></small> /
                                <small><a href="{{ meeting.source_linked_from }}">from</a></small>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    {% endif %}


    {% if mp.influences_detail.register_of_interests %}
        <div class="list-group-item">
            <div class="row-content">
                {% for interest in mp.influences_detail.register_of_interests %}

                    {% if "gifts" in interest.category.lower() %}
                        <h4 class="list-group-item-heading">Register Of Interests - {{ interest.category }}</h4>
                        <table class="table table-striped table-hover ">
                            <colgroup>
                                <col span="1" style="width: 10%;">
                                <col span="1" style="width: 20%;">
                                <col span="1" style="width: 15%;">
                                <col span="1" style="width: 25%;">
                                <col span="1" style="width: 15%;">
                                <col span="1" style="width: 10%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>Amount</th>
                                <th>Interest</th>
                                <th>Donor Status</th>
                                <th>Nature</th>
                                <th>Registered</th>
                                <th>Source</th>
                            </tr>
                            </thead>
                            {% with cols = 6 %}
                                {% include "_partials/_tfooter.html" %}
                            {% endwith %}
                            <tbody>
                            {% for interest in interest.interests %}
                                <tr>
                                    <td>{{ interest.amount }}</td>
                                    <td><a href="{{ interest.interest['details_url'] }}">{{ interest.interest["name"] }}</a></td>
                                    <td>{{ interest.interest["donor_status"] }}</td>
                                    <td>{{ interest.nature }}</td>
                                    <td>{{ interest.registered }}</td>
                                    <td>
                                        <small><a href="{{ interest.source_url }}">link</a></small> /
                                        <small><a href="{{ interest.source_linked_from }}">from</a></small>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    {%  elif "overseas visits" in interest.category.lower() %}

                        <h4 class="list-group-item-heading">Register Of Interests - {{ interest.category }}</h4>
                        <table class="table table-striped table-hover ">
                            <colgroup>
                                <col span="1" style="width: 10%;">
                                <col span="1" style="width: 20%;">
                                <col span="1" style="width: 10%;">
                                <col span="1" style="width: 25%;">
                                <col span="1" style="width: 15%;">
                                <col span="1" style="width: 10%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>Amount</th>
                                <th>Interest</th>
                                <th>Visit Dates</th>
                                <th>Purpose</th>
                                <th>Registered</th>
                                <th>Source</th>
                            </tr>
                            </thead>
                            {% with cols = 6 %}
                                {% include "_partials/_tfooter.html" %}
                            {% endwith %}
                            <tbody>
                            {% for interest in interest.interests %}
                                <tr>
                                    <td>{{ interest.amount }}</td>
                                    <td><a href="{{ interest.interest['details_url'] }}">{{ interest.interest["name"] }}</a></td>
                                    <td>{{ interest.interest["visit_dates"] }}</td>
                                    <td>{{ interest.interest["purpose"] }}</td>
                                    <td>{{ interest.registered }}</td>
                                    <td>
                                        <small><a href="{{ interest.source_url }}">link</a></small> /
                                        <small><a href="{{ interest.source_linked_from }}">from</a></small>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>


                    {%  elif "sponsorship" in interest.category.lower() %}

                        <h4 class="list-group-item-heading">Register Of Interests - {{ interest.category }}</h4>
                        <table class="table table-striped table-hover ">
                            <colgroup>
                                <col span="1" style="width: 10%;">
                                <col span="1" style="width: 25%;">
                                <col span="1" style="width: 25%;">
                                <col span="1" style="width: 15%;">
                                <col span="1" style="width: 10%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>Amount</th>
                                <th>Interest</th>
                                <th>Donor Status</th>
                                <th>Registered</th>
                                <th>Source</th>
                            </tr>
                            </thead>
                            {% with cols = 5 %}
                                {% include "_partials/_tfooter.html" %}
                            {% endwith %}
                            <tbody>
                            {% for interest in interest.interests %}
                                <tr>
                                    <td>{{ interest.amount }}</td>
                                    <td><a href="{{ interest.interest['details_url'] }}">{{ interest.interest["name"] }}</a></td>
                                    <td>{{ interest.interest["donor_status"] }}</td>
                                    <td>{{ interest.registered }}</td>
                                    <td>
                                        <small><a href="{{ interest.source_url }}">link</a></small> /
                                        <small><a href="{{ interest.source_linked_from }}">from</a></small>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    {%  else %}

                        <h4 class="list-group-item-heading">Register Of Interests - {{ interest.category }}</h4>
                        <table class="table table-striped table-hover ">
                            <colgroup>
                                <col span="1" style="width: 10%;">
                                <col span="1" style="width: 50%;">
                                <col span="1" style="width: 20%;">
                                <col span="1" style="width: 10%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>Amount</th>
                                <th>Interest</th>
                                <th>Registered</th>
                                <th>Source</th>
                            </tr>
                            </thead>
                            {% with cols = 4 %}
                                {% include "_partials/_tfooter.html" %}
                            {% endwith %}
                            <tbody>
                            {% for interest in interest.interests %}
                                <tr>
                                    <td>{{ interest.amount }}</td>
                                    <td><a href="{{ interest.interest['details_url'] }}">{{ interest.interest["name"] }}</a></td>
                                    <td>{{ interest.registered }}</td>
                                    <td>
                                        <small><a href="{{ interest.source_url }}">link</a></small> /
                                        <small><a href="{{ interest.source_linked_from }}">from</a></small>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    {%  endif %}

                {% endfor %}
            </div>
        </div>

    {% endif %}

    {% if mp.influences_detail.electoral_commission %}
        <div class="list-group-item">
            <div class="row-content">
                <h4 class="list-group-item-heading">Electoral Commission</h4>
                <table class="table table-striped table-hover ">
                    <colgroup>
                        <col span="1" style="width: 10%;">
                        <col span="1" style="width: 20%;">
                        <col span="1" style="width: 10%;">
                        <col span="1" style="width: 30%;">
                        <col span="1" style="width: 10%;">
                        <col span="1" style="width: 10%;">
                        <col span="1" style="width: 10%;">
                        <col span="1" style="width: 10%;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>Donation</th>
                        <th>Donor</th>
                        <th>Nature</th>
                        <th>Purpose</th>
                        <th>EC Reference</th>
                        <th>Type</th>
                        <th>Accepted Reported</th>
                        <th>Source</th>
                    </tr>
                    </thead>
                    {% with cols = 8 %}
                        {% include "_partials/_tfooter.html" %}
                    {% endwith %}
                    <tbody>
                    {% for donation in mp.influences_detail.electoral_commission %}
                        <tr>
                            <td>{{ donation.amount }}</td>
                            <td><a href="{{ donation.donor['details_url'] }}">{{ donation.donor["name"] }}</a></td>
                            <td>{{ donation.nature }}</td>
                            <td>{{ donation.purpose }}</td>
                            <td>{{ donation.ec_reference }}</td>
                            <td>{{ donation.donor["donor_type"] }}</td>
                            <td>
                                <small>{{ donation.accepted }}</small>
                                <small>{{ donation.reported }}</small>
                            </td>
                            <td>
                                <small><a href="{{ donation.source_url }}">link</a></small> /
                                <small><a href="{{ donation.source_linked_from }}">from</a></small>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    {% endif %}
    </div>
    </div>
    </div>
{% endblock article %}
