{% extends "single/single.html" %}

{% block title %}

{% endblock %}

{% block article %}

    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div id="government-container">
            <h3><b>{{ party.name }}</b></h3>
            <div class="row">
                <div class="col-md-7">

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <hr>
        <div id="government-container">
            <div class="list-group">
                {% if "electoral_commission" in party["influences_detail"] %}

                    <div class="row-content">
                        <h4 class="list-group-item-heading">Electoral Commission</h4>
                        <table class="table table-striped table-hover ">
                            <colgroup>
                                <col span="1" style="width: 10%;">
                                <col span="1" style="width: 20%;">
                                <col span="1" style="width: 15%;">
                                <col span="1" style="width: 9%;">
                                <col span="1" style="width: 9%;">
                                <col span="1" style="width: 9%;">
                                <col span="1" style="width: 15%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>Donation</th>
                                <th>Donor</th>
                                <th>Type</th>
                                <th>Received</th>
                                <th>Reported</th>
                                <th>Accepted</th>
                                <th>Nature</th>
                            </tr>
                            </thead>
                            {% with cols = 7 %}
                                {% include '_partials/_tfooter.html' %}
                            {% endwith %}
                            <tbody>
                            {% for donation in party.influences_detail.electoral_commission %}
                                <tr>
                                    <td>{{ donation.amount }}</td>
                                    <td><a href="{{ donation.donor["details_url"] }}">{{ donation.donor["name"] }}</a></td>
                                    <td>{{ donation.donor["donor_type"] }}</td>
                                    <td>{{ donation.received }}</td>
                                    <td>{{ donation.reported }}</td>
                                    <td>{{ donation.accepted }}</td>
                                    <td>{{ donation.nature }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="list-group-separator"></div>
                    </div>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock article %}
