{% extends "layout.html" %}

{% block article %}
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div id="government-container">
            <h3><b>What Under The Influence does:</b></h3>
            <div class="row">
                <div class="col-md-7">

                    <ul>
                        <li>maps the hidden relationships between the British government, business and other interests, and lobbyists;</li>
                        <li>lets us know who is trying to influence British politics; and</li>
                        <li>allows us to find out how money in politics affects our lives.</li>
                    </ul>

                    <p>Read more <a href="{{ url_for('show_about')}}">about this site</a></p>

                </div>

                <div class="col-md-5">
                    <b>Find out more about <a href="{{ url_for('show_influence_and_lobbying')}}">influence &amp; lobbying</a></b><br>
                    <b>Find out about our <a href="{{ url_for('show_government_and_politicians')}}">Government &amp; politicians</a></b><br>
                </div>
            </div>

            <hr>

            <div class="row">

                <div class="col-md-7">
                    <div class="row">
                        <span class="label label-danger">ANALYSIS: WHAT THE DATA SHOWS</span>
                    </div>

                    <h2>Big pharma’s addiction to lobbying</h2>

                    <p><em>21 May 2015, by Spinwatch</em></p>

                    <a href="JavaScript:newPopup('{{ url_for('static', filename='pharma.png') }}');"><img src="{{ url_for('static', filename='pharma.png') }}" ALT="pharma" width="40%" align=right></a>

                    <p>One of the most influential industries in the UK is the pharmaceutical business. Anecdotally, from talking to professional lobbyists with experience of the pharmaceutical lobby, it also has one of the worst reputations in the business.</p>

                    <p>Not that you’re going to know anything of its activities from the <a href="https://registerofconsultantlobbyists.force.com/CLR_Search">UK’s official register of lobbyists</a>.</p>

                    <p>The world’s biggest pharmaceutical company, Pfizer, which <a href="https://www.opensecrets.org/orgs/summary.php?id=D000000138">in the US</a> has spent roughly $80m on lobbyists in the past five years, doesn’t yet feature on the register.</p>

                    <p>Novartis, the second biggest with an annual US lobbying spend of around $6.5m, is merely listed on the UK register as a client of two lobbying agencies (although, at the moment, the register is designed so you can’t find out which agencies these are).</p>

                    <p>In reality, <a href="http://www.undertheinfluence.org.uk/influencer/detail/Pfizer">Pfizer</a> and <a href="http://www.undertheinfluence.org.uk/influencer/detail/Novartis">Novartis</a> employ around ten lobbying agencies each in the UK.</p>

                    <p>Some agencies stand out from the roster of lobbyists in the pay of these drug giants.</p>

                    <ul>
                        <li><a href="http://www.undertheinfluence.org.uk/lobbyists/Incisive%20Health">Incisive Health</a> was established by Bill Morgan, the well-connected former aide to Health Secretary, Andrew Lansley. Its client list is almost entirely pharmaceutical companies and pharma-funded charities, to which it provides, among other things, access to health officials. Incisive Health has also had ample opportunity to feed into policy: Its co-founder Mike Birtwistle, for instance, had ‘significant input’ into a 2014 report on cancer in older people that concluded that they were less likely to receive cancer drugs than other groups. No mention was made of his lobbying firm’s pharma clients that might benefit as a result. A similar 2013 <a href="http://www.england.nhs.uk/wp-content/uploads/2013/12/old-people-rec-cancer-drugs.pdf">report</a>  report was entirely drafted by Birtwistle. Again his links to the pharma industry weren’t mentioned.</li><br>
                        <li><a href="http://www.undertheinfluence.org.uk/lobbyists/JMC%20Partners%20LLP">JMC Partners</a> is another lobbying firm whose clients are predominantly pharmaceutical, including the UK’s main lobby group, the Association for the British Pharmaceutical Industry (whose offices incidentally sit on top of the Victoria premises of NHS England, custodians of the £110bn NHS budget). Like Birtwistle at Incisive Health, JMC chief lobbyist, John Murray, has also been asked by NHS England to draft a report that has fed into health policy. He was invited as director of lobby group the <a href="http://www.independent.co.uk/news/uk/politics/revealed-big-pharma-links-to-nhs-policy-with-senior-mps-saying-medical-industry-uses-wealth-to-influence-government-9120187.html">Specialised Healthcare Alliance</a>, which is entirely funded by drug companies.</li><br>
                        <li><a href="http://www.undertheinfluence.org.uk/lobbyists/MHP%20Communications">MHP</a> is a large lobbying agency, part of the Engine Group of communications companies. It used to employ <a href="http://powerbase.info/index.php/Bill_Morgan">Bill Morgan</a>, former right hand man to the then Health Secretary, which it said put them ‘at the heart of major policy debates which will shape the future of the NHS’. MHP’s roster of clients contains all the big names in pharmaceuticals, as well as drug-funded health charities. Parent group, Engine, is also now an approved supplier of services to GP commissioners. Chinese walls aside, MHP could potentially find itself being paid by those who are buying care in the NHS, while also lobbying for private sector clients seeking to provide such care.</li><br>
                        <li>Finally, <a href="http://www.undertheinfluence.org.uk/lobbyists/Hanover%20Communications%20International%20Ltd">Hanover</a> is another lobbying firm with expertise in healthcare. Leading the team is Andrew Harrison, former aide to Labour Health Minister, Alan Milburn, and a former close colleague of Simon Stevens, current chief executive of the NHS. Like Engine, Hanover is also bidding to supply services to GP groups in charge of commissioning NHS care. It is in a consortium of suppliers led by UnitedHealth, the US health giant (which has hired Hanover as its UK lobbyists since at least 2007). This presents Hanover with a possible conflict of interest, but could also privilege its other healthcare clients: the medical device firms, Deltex, and Alliance Medical; the many pharma companies it represents; and the insurance industry through its client the Association of British Insurers.</li><br>
                    </ul>

                    <p>We don’t know how many millions Pfizer, Novartis and the other drug giants are spending to influence the UK government and health officials. The data is not public (unlike in the US). But, with a bit of research, we can start to see the influence they are buying with their money.</p>

                </div>

                <div class="col-md-5">
                    <div class="row">
                        <span class="label label-danger">PROFILE</span>
                    </div>
                    <h3>Priti Patel</h3>

                    <a href="JavaScript:newPopup('{{ url_for('static', filename='priti_patel.jpg') }}');"><img src="{{ url_for('static', filename='priti_patel.jpg') }}" ALT="priti_patel.jpg" width="25%" align=left hspace="10"></a>

                    <p>The UK’s new employment minister, Priti Patel, is one of the big winners of the 2015 general election. Not only did she secure her seat of Witham in Essex with over 50% of the vote, she won herself a seat at the Cabinet table within only five years of becoming a Conservative MP.</p>

                    <p>A controversial figure, Patel supports the reintroduction of the death penalty and is opposed to most measures that try to minimise the harm from cigarettes: the smoking ban, restrictions on the display of cigarettes, and plain packaging.</p>

                    <p>Before becoming an MP, Patel was a commercial lobbyist with agency <a href="http://www.undertheinfluence.org.uk/influencer/detail/Weber%20Shandwick">Weber Shandwick</a>. One of the clients she worked for, according to internal tobacco company documents, was <a href="http://www.undertheinfluence.org.uk/influencer/detail/British%20American%20Tobacco">British American Tobacco</a>. This included providing BAT with ‘strategic advice... with a particular focus on the Conservative Party’.</p>

                    <p>A couple of years before Patel entered Parliament, she also worked within the corporate relations team of alcohol giant, <a href="http://www.undertheinfluence.org.uk/influencer/detail/Diageo">Diageo</a>. And in the months running up to the 2010 election, Patel lobbied for another Weber Shandwick client, International Financial Services London. Now known as <a href="http://www.undertheinfluence.org.uk/influencer/detail/TheCityUK">TheCityUK</a>, this is the lobby group for London’s bankers, a tough job in 2009 in the midst of the banking crisis. </p>

                    <p>According to Patel's 2010 election campaign material ‘her career outside of politics means she has an innate understanding about the issues faced by small businesses’.</p>

                    <p>More on Priti Patel on <a href="http://powerbase.info/index.php/Priti_Patel">Powerbase</a>.</p>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
{% endblock article %}
