<!doctype html>

<head xmlns="http://www.w3.org/1999/html">
    <meta charset="utf-8">
    <title>Under The Influence</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet"> -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='material/css-compiled/ripples.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='material/css-compiled/material-wfont.css') }}" rel="stylesheet">

    {% block css_extras %}{% endblock %}

    <style type="text/css">
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        hr {
            display: block;
            position: relative;
            padding: 0;
            margin: 8px auto;
            height: 0;
            width: 100%;
            max-height: 0;
            font-size: 1px;
            line-height: 0;
            clear: both;
            border: none;
            border-top: 1px solid #aaaaaa;
            border-bottom: 1px solid #ffffff;
        }
    </style>
</head>

<body class="container">
    <nav class="navbar navbar-inverse" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('home') }}">Under The Influence</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Government & Politicians<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('show_politicians')}}">Politicians Summary</a></li>
                        <li><a href="{{ url_for('show_parties')}}">Political Parties</a></li>
                        <li><a href="{{ url_for('show_meetings')}}">Ministerial Meetings</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Explore the detail:</li>
                        <li><a href="{{ url_for('show_politicians_detail')}}">All Politicians</a></li>
                        <li><a href="{{ url_for('show_politicians_detail', type="mp" )}}">Members of Parliament</a></li>
                        <li><a href="{{ url_for('show_politicians_detail', type="lord" )}}">Lords</a></li>
                        <li><a href="{{ url_for('show_committees')}}">Select Committees</a></li>
                        <li><a href="{{ url_for('show_departments')}}">Government Departments</a></li>
                    </ul>
                </li>


                <li class="dropdown">
                    <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Influence & Lobbying<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('show_influencers')}}">Influence & Lobbying</a></li>
                        <li><a href="{{ url_for('show_funding_landing')}}">Funding & Donors</a></li>
                        <li><a href="{{ url_for('show_interests_landing')}}">Who employs legislators</a></li>
                        <li><a href="{{ url_for('show_lobbying_landing')}}">Who’s lobbying</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Explore the detail:</li>
                        <li><a href="{{ url_for('show_influencers_detail')}}">All Influencers</a></li>
                        <li><a href="{{ url_for('show_influencers_detail', labels="Donor" )}}">Funding & Donors</a></li>
                        <li><a href="{{ url_for('show_influencers_detail', labels="Registered Interest" )}}">Registered Interests</a></li>
                        <li><a href="{{ url_for('show_influencers_detail', labels="Lobby Agency Client" )}}">Lobbying Agency Clients</a></li>
                        <li><a href="{{ url_for('show_lobbyists' )}}">Lobbying Agencies</a></li>
                    </ul>
                </li>

                <li><a href="{{ url_for('show_sources')}}">Sources & Resources</a></li>

            </ul>
            <form class="navbar-form navbar-left" action="{{ url_for('show_search_result') }}" method="post">
                <input type="text" name="search" class="form-control col-lg-8" placeholder="Search">
            </form>

        </div><!-- /.navbar-collapse -->
    </nav>

    <div class="row">
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1>{% block title %}{% endblock %}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>

    <div class="row">
        {% block article %}{% endblock %}
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>

    <footer>
        <li><a href="{{ url_for('show_about') }}">About</a></li>
        <li><a href="{{ url_for('show_contact') }}">Contact</a></li>
    </footer>

</div> <!-- /container -->



<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script> -->

<script src="{{ url_for('static', filename='js/lib/jquery.js') }}"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/lib/d3/d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='material/scripts/ripples.js') }}"></script>
<script src="{{ url_for('static', filename='material/scripts/material.js') }}"></script>
<script src="{{ url_for('static', filename='material/scripts/material.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='js/app/main.js') }}"></script> -->

{% block js_extras %}{% endblock %}

<script type="text/javascript">
    $(document).ready(function() {
        $.material.init();
        $("[data-toggle=tooltip]").tooltip();
    });
</script>
</body>
</html>
