{% macro show_mp(mp) %}
    {% if mp["image"] %}
        <div class="row-picture">
            <img class="circle" src="{{ mp['image'] }}" alt="icon">
        </div>
    {% else %}
        <div class="row-action-primary">
            <i class="icon-material-folder"></i>
        </div>
    {% endif %}
    <div class="row-content">
        <div class="least-content">
            <a href="{{ url_for('show_entries', search_type = 'name', search_term = mp["name"]) }}" > more </a>
        </div>
        <h4 class="list-group-item-heading">{{ mp["name"]|safe }}</h4>
        {{ mp["party"]|safe }}
        <p>
            {% for position in mp["positions"] %}
                <li>{{ position|safe }}</li>
            {% endfor %}
        {% for dept in mp["departments"] %}
            <li>{{ dept|safe }}</li>
        {% endfor %}
        </p>
    </div>
{% endmacro %}
