{% extends "layout.html" %}
{% block article %}

    <div class="row">
        <div class="col-md-12">
            <h1>Members of Parliament</h1>
            <hr>
        </div >
    </div>

    <div class="row">
        <div class="col-md-6">
            <div id="government-container">
                <div class="list-group">
                    {% for mp in mps %}
                        <div class="list-group-item" >
                            {% if mp.image_url %}
                                <div class="row-picture">
                                    <img class="circle" src="{{ mp.image_url }}" alt="icon">
                                </div>
                            {% else %}
                                <div class="row-action-primary">
                                    <i class="icon-material-folder" ></i>
                                </div>
                            {% endif %}
                            <div class="row-content">
                                <div class="least-content">
                                    <a href="{{ mp.detail_url }}">detail</a>
                                </div>
                                <h4 class="list-group-item-heading">{{ mp.name }}. {{ mp.party }}</h4>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="well well-sm">
                                            <b>Register of Interests</b><br>
                                            {{ mp.register_of_interests_total }} received from
                                            {{ mp.register_of_interests_count }} interests across
                                            {{ mp.register_of_interests_categories }} categories
                                        </div>
                                        <div class="well well-sm">
                                            <b>Electoral Commission</b><br>
                                            {{ mp.electoral_commission_total }} received from
                                            {{ mp.electoral_commission_count }} donations
                                        </div>
                                    </div >
                                </div >
                            </div>
                        </div>
                        <div class="list-group-separator"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock article %}
