{% extends "layout.html" %}
{% block article %}

    <div class="row">
        <div class="col-md-2">
        </div >
        <div class="col-md-9">
            <h1>{{ party.name }}</h1>
        </div >
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-9">
        <div class="row">
        </div >
        <hr>
    </div>
    <div class="row">
        <div class="col-md-2">
            {% if party.image_url %}
                <div class="row-picture">
                    <img class="circle" src="{{ party.image_url }}" alt="icon">
                </div>
            {% else %}
                <div class="row-action-primary">
                    <i class="icon-material-folder" ></i>
                </div>
            {% endif %}
        </div>
        <div class="col-md-10">
            <div id="government-container">
                <div class="list-group">
                    {% if "electoral_commission" in party["influences_detail"] %}
                        <div class="list-group-item">
                            <div class="row-content">
                                <h4 class="list-group-item-heading">Electoral Commission</h4>
                                <table class="table table-striped table-hover ">
                                    <thead>
                                    <tr>
                                        <th>Donation</th>
                                        <th>Donor</th>
                                        <th>Type</th>
                                        <th>Accepted</th>
                                        <th>Nature</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for donation in party.influences_detail.electoral_commission %}
                                        <tr>
                                            <td><small>{{ donation.amount }}</small></td>
                                            <td><small><a href="{{ donation.donor["details_url"] }}">{{ donation.donor["name"] }}</a></small></td>
                                            <td><small>{{ donation.donor["donor_type"] }}</small></td>
                                            <td><small>{{ donation.accepted }}</small></td>
                                            <td><small>{{ donation.nature }}</small></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="list-group-separator"></div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock article %}
