{% extends "layout.html" %}
{% block article %}

    <div class="row">
        <div class="col-md-12">
            {% if title %}
                <h1><h1>The Influencers: {{ title }}</h1>
            {% else %}
                <h1>The Influencers</h1>
            {% endif %}
            <hr>
        </div >
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="alert alert-dismissable alert-success">
                <p><em>"The influence of lobbyists increases when it goes largely unnoticed by the public." </em></p>
                <p>Lobbyists succeed by owning the terms of debate, steering conversations away from those they can't win and on to those they can. If a public discussion on a company's environmental impact is unwelcome, lobbyists will push instead to have a debate with politicians and the media on the hypothetical economic benefits of their ambitions. Once this narrowly framed conversation becomes dominant, dissenting voices will appear marginal and irrelevant.</p>
            </div >
        </div >
        <div class="col-md-8">
            <div id="government-container">
                <div class="list-group">
                    {% for entry in influencers %}

                        <div class="list-group-item" >

                            <div class="row-action-primary">
                                <i class="icon-material-folder" ></i>
                            </div>
                            <div class="row-content">
                                <div class="col-md-10">
                                    <div class="least-content ">
                                        {% for label in entry["labels"] %}
                                            <span class="label label-success">{{ label }}</span>
                                        {% endfor %}
                                    </div>


                                    <h4 class="list-group-item-heading"><a href="{{ entry.detail_url }}">{{ entry.name }}</a></h4>

                                    <div class="row">

                                        {% if "lobby_registers" in entry.influences_summary %}
                                            {% if entry.influences_summary.lobby_registers.lobbyist_hired == 1 %}
                                                <div class="well well-sm">
                                                    <b>{{ entry.influences_summary.lobby_registers.lobbyist_hired }} lobbying agency hired</b>
                                                </div>
                                            {% else %}
                                                <div class="well well-sm">
                                                    <b>{{ entry.influences_summary.lobby_registers.lobbyist_hired }} lobbying agencies hired</b>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        {% if "register_of_interests" in entry.influences_summary %}
                                            <div class="well well-sm">
                                                <b>Register of Interests</b><br>
                                                {% if entry.influences_summary.register_of_interests.remuneration_total_int > 0 %}
                                                    {{ entry.influences_summary.register_of_interests.remuneration_total }} in
                                                {% endif %}
                                                {% if entry.influences_summary.register_of_interests.remuneration_count > 0 %}
                                                    {{ entry.influences_summary.register_of_interests.remuneration_count }} registered interests
                                                    across
                                                {% endif %}
                                                {{ entry.influences_summary.register_of_interests.relationship_count }} relationships
                                            </div>
                                        {% endif %}
                                        {% if "electoral_commission" in entry.influences_summary %}
                                            <div class="well well-sm">
                                                <b>Electoral Commission</b><br>
                                                {{ entry.influences_summary.electoral_commission.donation_total }} donated across
                                                {{ entry.influences_summary.electoral_commission.donation_count }} donations
                                            </div>
                                        {% endif %}
                                    </div >
                                </div >
                            </div>
                        </div>
                        <div class="list-group-separator"></div>
                    {% endfor %}
                </div>
                <ul class="pager">
                    {% if page == 1  %}
                        <li class="previous disabled"><a href="javascript:void(0)">Previous page</a></li>
                    {% else %}
                        <li class="previous"><a href="{{ url_for('show_influencers', page=page-1) }}">Previous page</a></li>
                    {% endif %}
                    <li class="next"><a href="{{ url_for('show_influencers', page=page+1) }}">Next page</a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock article %}
