{% extends "layout.html" %}
{% block article %}

    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div >
    </div>
    <div class="col-md-13">
        <hr>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div id="government-container">
                Lobbyists operate in the shadows – deliberately. As one lobbyist notes: "The influence of lobbyists increases when it goes largely unnoticed by the public." But if the reasons why companies lobby are often obscured, it is always a tactical investment. Whether facing down a threat to profits from a corporate tax hike, or pushing for market opportunities – such as government privatisations – lobbying has become another way of making money.
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

{% endblock article %}
