{% extends "layout.html" %}
{% block article %}

    <div class="row">
        <div class="col-md-12">
            <h1>{{ mp.name }}. {{ mp.party }}</h1>
        </div >
    </div>
    <div class="row">
        <div class="col-md-13">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="government-container">
                <div class="row">
                    <div class="col-md-6">
                        {% if mp["government_positions"] %}
                            <div class="well well-sm">
                                {% for position in mp["government_positions"] %}
                                    <b>{{ position }}</b><br>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if mp["government_departments"] %}
                            <div class="well well-sm">
                                <b>Government Departments</b><br>
                                {% for dept in mp["government_departments"] %}
                                    <a href="{{ dept.detail_url }}">{{ dept.name }}</a><br>
                                {% endfor %}
                            </div>
                        {% endif %}

                    </div>
                    <div class="col-md-6">

                    </div>
                    {% if mp["government_positions"] or mp["government_departments"] %}
                        <hr>
                    {% endif %}
                </div>
                <div class="list-group">
                    {% if mp.influences_detail.register_of_interests %}
                        <div class="list-group-item">
                            <div class="row-content">
                                {% for interest in mp.influences_detail.register_of_interests %}
                                    <h4 class="list-group-item-heading">Register Of Interests - {{ interest.category }}</h4>
                                    <p class="list-group-item-text">
                                    <table class="table table-striped table-hover ">
                                        <colgroup>
                                            <col span="1" style="width: 10%;">
                                            <col span="1" style="width: 30%;">
                                            <col span="1" style="width: 16%;">
                                            <col span="1" style="width: 16%;">
                                            <col span="1" style="width: 12%;">
                                            <col span="1" style="width: 12%;">
                                        </colgroup>
                                        <thead>
                                        <tr>
                                            <th>Amount</th>
                                            <th>Interest</th>
                                            <th>Type</th>
                                            <th>Company Reg</th>
                                            <th>Received</th>
                                            <th>Registered</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for interest in interest.interests %}
                                            <tr>
                                                <td><small>{{ interest.amount }}</small></td>
                                                <td><small><a href="{{ interest.interest["details_url"] }}">{{ interest.interest["name"] }}</a></small></td>
                                                <td><small>{{ interest.interest["donor_type"] }}</small></td>
                                                <td><small>{{ interest.interest["company_reg"] }}</small></td>
                                                <td><small>{{ interest.received }}</small></td>
                                                <td><small>{{ interest.registered }}</small></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                    <div class="list-group-separator"></div>

                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <hr>
                    {% if mp.influences_detail.electoral_commission %}
                        <div class="list-group-item">
                            <div class="row-content">
                                <p class="list-group-item-text">
                                <h4 class="list-group-item-heading">Electoral Commission</h4>
                                <table class="table table-striped table-hover ">
                                    <thead>
                                    <tr>
                                        <th>Donation</th>
                                        <th>Donor</th>
                                        <th>Type</th>
                                        <th>EC Reference</th>
                                        <th>Company Reg</th>
                                        <th>Nature</th>
                                        <th>Received</th>
                                        <th>Reported</th>
                                        <th>Accepted</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for donation in mp.influences_detail.electoral_commission %}
                                        <tr>
                                            <td><small>{{ donation.amount }}</small></td>
                                            <td><small><a href="{{ donation.donor["details_url"] }}">{{ donation.donor["name"] }}</a></small></td>
                                            <td><small>{{ donation.ec_reference }}</small></td>
                                            <td><small>{{ donation.donor["donor_type"] }}</small></td>
                                            <td><small>{{ donation.donor["company_reg"] }}</small></td>
                                            <td><small>{{ donation.nature }}</small></td>
                                            <td><small>{{ donation.received }}</small></td>
                                            <td><small>{{ donation.reported }}</small></td>
                                            <td><small>{{ donation.accepted }}</small></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="list-group-separator"></div>

                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock article %}
