{% extends "layout.html" %}
{% block article %}

    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div >
    </div>
    <div class="col-md-13">
        <hr>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div id="government-container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="alert alert-dismissable alert-success">
                            <p>
                                <strong>Spinwatch</strong> investigates the way that the public relations (PR) industry and corporate and government propaganda distort public debate and undermine democracy. The PR and lobbying industry in the UK is the second biggest in the world, worth £7.5 billion. As the go-to organisation for information on this field, we routinely track PR and lobbying firms and corporate front groups, exposing their spin and deception.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="alert alert-dismissable alert-success">
                            <p>
                               <strong>Unlock Democracy</strong> is a non-aligned organisation, committed to working inclusively across the political spectrum. We seek to understand how democracy works in practice and to use evidence-based research to inform and develop policies. We stand against cynicism and disengagement, and for a living democracy with the people, all the people, at its heart.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    </div>

{% endblock article %}
