{% extends "layout.html" %}
{% block article %}

    <div class="row">
        <div class="col-md-2">
        </div >
        <div class="col-md-9">
            <h1>{{ lord.name }}. {{ lord.party }}</h1>
        </div >
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-9">
        <div class="row">
        </div >
        <hr>
    </div>
    <div class="row">
        <div class="col-md-2">
            {% if lord.image_url %}
                <div class="row-picture">
                    <img class="circle" src="{{ lord.image_url }}" alt="icon">
                </div>
            {% else %}
                <div class="row-action-primary">
                    <i class="icon-material-folder" ></i>
                </div>
            {% endif %}
        </div>
        <div class="col-md-7">
            <div id="government-container">
                <div class="list-group">
                    {% if lord.influences_detail.register_of_interests %}
                        <div class="list-group-item">
                            <div class="row-content">
                                <div class="least-content">{{ lord.influences_summary.register_of_interests.remuneration_total }}</div>
                                <h4 class="list-group-item-heading">Register Of Interests</h4>
                                {% for interest in lord.influences_detail.register_of_interests %}
                                    <p class="list-group-item-text">

                                    <div class="well well-sm">
                                        <b>{{ interest.category}}</b> </br>
                                        {% if interest.position and not interest.position == ""  %}
                                        {{ interest.position }} -
                                        {% endif %}

                                        <a href="{{ interest.interest["details_url"] }}">{{ interest.interest["name"] }}</a></br>
                                        {% if interest.received and not interest.received == "Unknown" or interest.received and not interest.registered == "Unknown" %}
                                            </br>
                                        {% endif %}
                                        {% if interest.received and not interest.received == "Unknown" %}
                                            Received: {{ interest.received }} </br>
                                        {% endif %}
                                        {% if interest.received and not interest.registered == "Unknown" %}
                                            Registered: {{ interest.registered }} </br>
                                        {% endif %}
                                    </div>

                                    </p>
                                    <div class="list-group-separator"></div>

                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <hr>
                    {% if lord.influences_detail.electoral_commission %}
                        <div class="list-group-item">
                            <div class="row-content">
                                <div class="least-content">{{ lord.influences_summary.electoral_commission.donation_total }}</div>
                                <h4 class="list-group-item-heading">Electoral Commission</h4>
                                {% for donation in lord.influences_detail.electoral_commission %}


                                    <div class="well well-sm">
                                        {{ donation.amount }} donated to <b>{{ donation.recipient }}</b> </br>
                                        {% if donation.purpose and not donation.purpose == "" or donation.nature and not donation.nature == ""  %}
                                            </br>
                                        {% endif %}
                                        {% if donation.nature and not donation.nature == ""  %}
                                            Nature</br>{{ donation.nature }} </br>
                                        {% endif %}
                                        {% if donation.purpose and not donation.purpose == ""  %}
                                            Purpose</br>{{ donation.purpose }} </br>
                                        {% endif %}
                                    </div>

                                    <div class="list-group-separator"></div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock article %}
