{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block article %}
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div id="government-container">
            <h3><b>Government & Politicians</b></h3>
            <div class="row">
                <div class="col-md-7">

                    <p>This section contains information on our Parliamentarians and those who have made it into government. The various data sources reveal: which politicians earn what from their jobs outside Parliament; which MPs have attracted political donations; and the meetings government departments declare with big business.</p>
                    <p><b>Explore the data</b></p>

                    <ul>
                        <li>Explore <a href="{{ url_for('show_politicians_detail', labels="Outside Interests" )}}">politicians’ outside earnings</a></li>
                        <li>Explore <a href="{{ url_for('show_politicians_detail', labels="Donation Recipient" )}}">donations to politicians’ offices</a></li>
                        <li>Explore <a href="{{ url_for('show_meetings')}}">meetings with ministers</a></li>
                    </ul>

                </div>

                <div class="col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>“Lobbying – we all know how it works. The lunches, the quiet word in your ear, the ex-ministers and ex-advisors for hire, helping big business find the right way to get its way...”</h4>
                            - David Cameron, February 2010
                        </div>
                    </div>
                </div>

            </div>

            <hr>

            <div class="row">

                <div class="col-md-7">
                    <div class="row">
                        <span class="label label-danger">ANALYSIS: WHAT THE DATA SHOWS</span>
                    </div>
                </div>


                <div class="col-md-5">
                    <div class="row">
                        <span class="label label-danger">PROFILE</span>
                    </div>
                    <h3>John Hutton</h3>

                    <a><img src="{{ url_for('static', filename='john_hutton.jpg') }}" ALT="john_hutton.jpg" width="25%" align=left hspace="10"></a>

                    <p>The ex-Barrow and Furness MP, <a href="http://www.undertheinfluence.org.uk/lord/Lord%20Hutton%20of%20Furness">John Hutton</a>, joined the upper house in July 2010, after a successful run as a senior Cabinet member in the previous Labour government.</p>

                    <p>His career since has seen him take on many commercial jobs. Perhaps most notable is his role as head of the lobbying group, the <a href="http://www.undertheinfluence.org.uk/influencer/detail/Nuclear%20Industry%20Association">Nuclear Industry Association</a>, which afforded him the privilege of co-writing the foreword to the Coalition government’s nuclear strategy.</p>

                    <p>A health minister under Tony Blair from 1998 to 2005, Hutton oversaw radical changes to the NHS. In 2014, he landed a directorship with <a href="http://www.undertheinfluence.org.uk/influencer/detail/Circle%20Holdings%20Plc">Circle Holdings</a>, the investment arm of private healthcare provider Circle, famous for controversially being the first private company to take over the running of a whole NHS hospital.</p>

                    <p>Hutton is also a paid adviser to tax avoidance experts, <a href="http://www.undertheinfluence.org.uk/influencer/detail/PriceWaterhouse%20Coopers%20LLP">PWC</a>, which is also heavily involved in public sector reform: it claims to have ‘acted on more privatisations than any other financial adviser’. The former defence secretary (2008-09) is also a paid consultant to US arms giant <a href="http://www.undertheinfluence.org.uk/influencer/detail/Lockheed%20Martin">Lockheed Martin</a> (also interested in NHS outsourcing work); and <a href="http://www.undertheinfluence.org.uk/influencer/detail/Bechtel">Bechtel Corporation</a>, the US’s largest construction and engineering firm.</p>

                    <p>Hutton has also been involved with the global lobbying firm <a href="http://www.undertheinfluence.org.uk/lobbyists/APCO%20Worldwide">APCO</a>, although this was never declared in his official register of interests. Until recently, he was listed as a member of APCO’s board of senior advisers, which helps clients with, among other things, political intelligence, government relations, reputation management and policymaking processes. It singles out its expert counsel on government systems for defence and public service reform. Hutton said he ‘doesn’t concentrate on’ the areas, but declined to expand on this, or why he had not declared the interest.</p>

                    <p>More on John Hutton on <a href="http://powerbase.info/index.php/John_Hutton">Powerbase</a> (external site).</p>

                </div>
            </div>

        </div>
    </div>

    <div class="col-md-1"></div>
{% endblock article %}
