{% extends "layout.html" %}

{% block title %}
    Influence &amp; Lobbying
{% endblock %}

{% block article %}
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div id="government-container">
            <div class="row">
                <div class="col-md-6">

                    <p><b>In a democracy, the people should have the most influence over government. Yet, in Britain corporations and the super-wealthy spend enormous sums to gain access to our decision-makers in an attempt to influence their thinking.</b></p>

                    <p>You can find out who is channeling money into our politics here. This section contains information on who funds political parties; (imperfect) data on who is lobbying for whom; and details of which organisations employ which UK legislators.</p>

                    <p>Find out which politicians have accepted funds from the tobacco industry; which industry hires the most lobbyists; how many politicians are in the hire of the banks; and more.</p>

                    <p>Find out more about <a href="{{ url_for('show_funding_landing')}}">who’s funding political parties</a> and <a href="{{ url_for('show_interests_landing')}}">employing legislators</a></p>
                </div>

                <div class="col-md-6">
                    <h3>Explore the data</h3>

                    <ul>
                        <li><b>Browse <a href="{{ url_for('show_influencers_detail')}}">all influencers</a></b></li>
                        <li><b>Explore <a href="{{ url_for('show_influencers_detail', labels="Donor" )}}">funding and donors</a></b></li>
                        <li><b>Explore <a href="{{ url_for('show_influencers_detail', labels="Registered Interest" )}}">who’s employing legislators</a></b></li>
                        <li><b>Explore <a href="{{ url_for('show_lobbyists' )}}">who’s lobbing</a></b></li>
                    </ul>

                </div>

            </div>

            <hr>

            <div class="row">
                <h3>What the data shows</h3>
                <div class="col-md-8">

                    <div class="col-md-5">
                        <h4>Lobbying Agency Clients</h4>
                        <table class="table table-striped table-hover ">
                            <colgroup>
                                <col span="1" style="width: 20%;">
                                <col span="1" style="width: 5%;">
                            </colgroup>
                            <thead>
                            <tr>
                            </tr>
                            </thead>
                            <tbody>
                            {% for top in influencers.lobby_registers.top.lobbyists_hired %}
                                <tr>
                                    <td><a href="{{ top.details_url }}">{{ top.name }}</a></td>
                                    <td>{{ top.total}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>


                    <div class="col-md-6">
                        <h4>Top Registered Interests</h4>
                        <table class="table table-striped table-hover ">
                            <colgroup>
                                <col span="1" style="width: 20%;">
                                <col span="1" style="width: 5%;">
                            </colgroup>
                            <thead>
                            <tr>

                            </tr>
                            </thead>
                            <tbody>
                            {% for top in influencers.register_of_interests.top.remuneration_total %}
                                <tr>
                                    <td><a href="{{ top.details_url }}">{{ top.name }}</a></td>
                                    <td>{{ top.total}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Featured Profile</h4>
                    <div class="alert alert-dismissable alert-success">
                        “<em>The truth is always an abyss. One must — as in a swimming pool — dare to dive from the quivering springboard of trivial everyday experience and sink into the depths, in order to later rise again — laughing and fighting for breath — to the now doubly illuminated surface of things.</em>”
                        <br>― Franz Kafka
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-1"></div>
{% endblock article %}
