{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block article %}
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div id="government-container">
            <h3><b>Who provides for our lawmakers</b></h3>
            <div class="row">
                <div class="col-md-7">
                    <p>Access and influence are enhanced by having someone on your payroll with power. This could be a former minister, a current legislator, or a political staffer. Under the current Parliamentary rules, our lawmakers are allowed to hold second jobs as long as they are declared.</p>
                    <p>Those seeking to influence lawmakers can also been generous hosts, providing MPs and Lords with lavish hospitality and trips abroad. These too are acceptable as long as they are publicly registered.</p>
                    <p>Find out which companies and lobby groups have a politician on their payroll; and which  are most generous with their hospitality. </p>

                    <b>Explore the data</b>

                    <ul>
                        <li>Browse <a href="{{ url_for('show_influencers_detail', labels="Registered Interest" )}}">all registered interests</a></li>
                    </ul>
                </div>

                <div class="col-md-5">

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>“I'm a bit like a sort of cab for hire... I still get a lot of confidential information because I'm still linked to No 10.”</h4>
                            - Former secretary of state, Stephen Byers
                        </div>
                    </div>

                </div>

            </div>

            <hr>

            <div class="row">

                <div class="col-md-7">
                    <div class="row">
                        <span class="label label-danger">ANALYSIS: WHAT THE DATA SHOWS</span>
                    </div>

                    <h2>Tobacco firms lay it on for MPs</h2>

                    <p><em>21 May 2015, by Spinwatch</em></p>

                    <a><img src="{{ url_for('static', filename='tobacco.jpg') }}" ALT="tobacco" width="40%" align=right></a>

                    <p>Tobacco companies are still waging their 60 year campaign against efforts to protect public health.</p>

                    <p>The latest fight has been against plain packaging, which is seen as an effective means of discouraging the next generation of smokers from becoming addicted. All branding is replaced by drab, olive green packets with larger, more graphic health warnings. The cigarette giants have been determined to stop the UK from introducing it.</p>

                    <p>The data here reveals one flank of their fight to oppose plain packaging: the campaign to persuade Members of Parliament to oppose it. We can see, for example, that <a href="http://www.undertheinfluence.org.uk/influencer/detail/Japan%20Tobacco%20International">Japan Tobacco International</a> (JTI), makers of Silk Cut and Benson & Hedges, has been on a charm offensive since 2011. It has provided hospitality and tickets to a host of (mainly Conservative) MPs, including £1000 trips to the Chelsea Flower Show, Glyndebourne Opera Festival and Test Match Cricket. <a href="http://www.undertheinfluence.org.uk/influencer/detail/Imperial%20Tobacco">Imperial Tobacco</a> has also been currying favour, according to the MPs register of interests, supplying MPs with tickets to Wimbledon at £1600 a time.</p>

                    <p>This gives us a glimpse of the recent lobbying by the tobacco industry. It is, however, only a tiny part of a much wider campaign, which has been revealed only through other sources. For example, leaked documents from <a href="http://www.undertheinfluence.org.uk/influencer/detail/Philip%20Morris">Philip Morris International</a> (PMI), the makers of Marlboro, reveal in detail the extent of the sophisticated lobbying and media campaign that the industry has undertaken to try and dissuade the government from introducing plain packaging.</p>

                    <p>PMI’s leaked media strategy, for example, targeted “key decision makers”, including MPs, civil servants and the UK’s business elite. An internal PMI spreadsheet details how more than 100 MPs were singled out.  An “influencers map” drawn up by PMI identified which politicians, think tanks, business groups and government departments were in favour and which were against. The tobacco firms’ central message to steer politicians into opposing plain packaging was that it would lead to an explosion of illicit cigarettes on the streets of Britain, even though there is overwhelming evidence of the industry’s complicity in smuggling its own products.</p>

                    <p>This data, therefore, is only a starting point to ask more questions. What else are these tobacco companies doing (it is unlikely they are investing in relationships with MPs in isolation): are they directly <a href="http://www.undertheinfluence.org.uk/funding">financing political parties</a>; do they employ <a href="http://www.undertheinfluence.org.uk/lobbying">lobbying agencies</a>; have they any <a href="http://www.undertheinfluence.org.uk/politicians">legislators on their payroll</a>; are they <a href="http://www.undertheinfluence.org.uk/meetings">meeting with ministers</a>?</p>

                    <p>Dip into the data and find out.</p>

                    <p>More on tobacco industry lobbying at <a href="http://www.tobaccotactics.org/">Tobacco Tactics</a> (external site)</p>

                </div>


                <div class="col-md-5">
                    <div class="row">
                        <span class="label label-danger">PROFILE</span>
                    </div>
                    <h3>Pearson</h3>

                    <p>Dubbed the world’s largest education business, Pearson has extremely close ties to the British state, a few of which are revealed in the data.</p>

                    <p>Pearson has a well-crafted corporate image in the UK, where it owns trusted brands like the Financial Times, the Economist, and book publishers Penguin Random House. Its core education and testing business in the US, however, which brings in 60% of Pearson’s $8.2bn sales, has been widely criticised, particularly for its ‘aggressive lobbyists’.</p>

                    <p>What can we see, then, of their influence in the UK from the data?</p>

                    <p><a href="http://www.undertheinfluence.org.uk/influencer/detail/Pearson">Pearson</a> regularly meets with ministers.</p>

                    <p><a href="http://www.undertheinfluence.org.uk/lord/Lord%20Puttnam">Lord Puttnam</a> is paid to chair the academic board of Pearson College.</p>

                    <p>The firm has employed a number of lobbying firms over the past couple of years, including <a href="http://www.undertheinfluence.org.uk/lobbyists/Champollion%20Communications%20Ltd">Champollion</a> (2012-15); <a href="http://www.undertheinfluence.org.uk/lobbyists/Weber%20Shandwick%20Public%20Affairs">Weber Shandwick</a> (2013-14), <a href="http://www.undertheinfluence.org.uk/lobbyists/Hanover%20Communications%20International%20Ltd">Hanover</a> (2010-12).</p>

                    <p>It gave former international development secretary, <a href="http://www.undertheinfluence.org.uk/mp/Andrew%20Mitchell">Andrew Mitchell</a>, £15k in opposition in 2008.</p>

                    <p>Labour MP <a href="http://www.undertheinfluence.org.uk/mp/David%20Blunkett">David Blunkett</a> earned over £5000 for speaking at two conferences organised by Pearson in 2013.</p>

                    <p>It paid Conservative MP, <a href="http://www.undertheinfluence.org.uk/mp/John%20Baron">John Baron</a>, a £4,000 advance for a book. </p>

                    <p>If you look at the source of this information, you can also see that Pearson’s registered office is on the Strand in London. In other words two minutes from Whitehall and Westminster.</p>

                    <p>This is just the tip of the iceberg, but it might be a place to start.</p>

                </div>
            </div>

        </div>
    </div>

    <div class="col-md-1"></div>
{% endblock article %}