{% extends "layout.html" %}

{% block title %}
    Who employs legislators
{% endblock %}

{% block article %}
<div class="col-md-1"></div>
    <div class="col-md-10">
        <div id="government-container">
            <div class="row">
                <div class="col-md-6">
                    <p><b>"I'm a bit like a sort of cab for hire... I still get a lot of confidential information because I'm still linked to No 10."</b><br>
                - Former secretary of state, Stephen Byers
                </p>

                <p>Access and influence are enhanced by having someone on your payroll with power. This could be a former minister, a current legislator, or a political staffer. The power of lobbyists increases the more decision-makers they know. Take the finance industry: the UK comes second only to Switzerland for the number of people moving between the finance sector and government. The access and insider knowledge they have as a consequence is unrivalled.</p>
                <p>Find out who else our legislators – MPs and Lords – are employed by, as well as by us.</p>

                </div>

                <div class="col-md-6">
                    <h3>Explore the data</h3>

                    <ul>
                        <li><b>Browse <a href="{{ url_for('show_influencers_detail', labels="Registered Interest" )}}">all registered interests</a></b></li>
                    </ul>

                </div>

            </div>


            <div class="row">

            </div>

        </div>
    </div>

    <div class="col-md-1"></div>
{% endblock article %}