{% extends "layout.html" %}

{% block title %}
    Who’s lobbying
{% endblock %}

{% block article %}
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div id="government-container">
            <div class="row">
                <div class="col-md-6">
                   <p><b>"The influence of lobbyists increases when it goes largely unnoticed by the public."</b><br>
                    - Steve John, lobbyist for management consultants, McKinsey
                </p>

                <p>Commercial lobbyists are paid to influence the decisions of government. The UK has the third-biggest lobbying industry in the world after Washington and Brussels. A best guess values the business in the UK at around £2bn.</p>
                <p>Lobbying is central to our idea of democratic government, but it can also be a corrupting force that undermines democracy. Lobbying, as practised by those with any influence in the country, costs money. And those with the deepest pockets – mainly multi-national corporations – are buying themselves a louder voice in government than the rest of us. </p>
                <p>It is almost impossible to find out who is lobbying whom about what in Britain (unlike in the US and Canada). What information there is on the activities of commercial lobbyists, however, is presented here.</p>
                <p>Find out who has hired lobbyists to influence the British government; who has hired the most; and who are the best connected lobbyists in the business. </p>
                <ul>

                </ul>
                </div>

                <div class="col-md-6">
                    <h3>Explore the data</h3>

                    <ul>
                        <li><b>Browse <a href="{{  url_for('show_influencers_detail', labels="Lobby Agency Client" )}}">all organisations that hire lobbyists</a></b></li>
                        <li><b>Browse <a href="{{ url_for('show_lobbyists' )}}">all lobbying agencies</a></b></li>
                    </ul>

                </div>

            </div>



            <div class="row">


            </div>
        </div>
    </div>

    <div class="col-md-1"></div>
{% endblock article %}
