{% extends "layout.html" %}
{% block article %}

    <div class="row">
        <div class="col-md-12">
            <h1>Contact Us</h1>
        </div >
    </div>
    <div class="col-md-12">
        <hr>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div id="government-container">

                <div class="row">
                    <div class="col-md-6">
                        <div class="alert alert-dismissable alert-success">
                            <p>
                                <strong>https://github.com/spudmind/spud</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

{% endblock article %}
