{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block article %}

    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div id="government-container">
            <h3><b>Get Involved</b></h3>

            <p><em>underthe</em><b>Influence</b> is a work in progress. The site – and its usefulness – will be greatly improved the more people contribute to it. Here’s how you can get involved.</p>
            <ul>
                <li><b>Spread the word</b></li>
            </ul>

            <p>We made <em>underthe</em><b>Influence</b> to be an illuminating and useful resource for lots of people. If you discover something interesting in the data, tweet it (and give us a nod).</p>
            <br>

            <ul>
                <li><b>Tell us what’s wrong!</b></li>
            </ul>
            <p>The site is in its infancy and there are going to be things that are wrong. Drop us an email and let us a know if you spot anything you think we should know about. </p>
            <br>

            <ul>
                <li><b>Suggestions for how to improve it</b></li>
            </ul>
            <p>If you’ve used the site and can think of ways to make it better, please let us know. It could be a technical solution; a better way of presenting the information; an additional data source you know about. We want your ideas. </p>
            <br>

            <ul>
                <li><b>Offers of help</b></li>
            </ul>
            <p>The site is still in development and any help in improving and extending it is welcome. You could be a coder, a researcher, or a campaigner. Please drop us an email if you have time or skills to offer.</p>

        </div>
    </div>
    <div class="col-md-1"></div>
    </div>

{% endblock article %}
