{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block article %}
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div id="government-container">
            <h3><b>Sources</b></h3>

            <p><em>underthe</em><b>Influence</b> combines a number of different, publicly-available data sources. Currently these are:</p>

            <ul>
                <li><a href="http://www.electoralcommission.org.uk/">Electoral Commission</a> data on donations to political parties</li>
                <li>Parliament’s registers of interests for MPs and Lords (provided by <a href="http://www.theyworkforyou.com/">TheyWorkForYou</a>)</li>
                <li>Ministerial meeting logs published by central government departments</li>
                <li>The lobbying industry’s (voluntary) registers of lobbyists (published by the trade bodies: the <a href="http://www.appc.org.uk/previous-registers/">Association of Professional Political Consultants</a>, and the <a href="http://www.prca.org.uk/">Public Relations Consultants Association</a></li>
            </ul>

            <h3><b>Resources</b></h3>
            <p>The following websites provide information related to the data contained in undertheInfluence.</p>

            <h4><a href="http://powerbase.info/index.php/Main_Page">Powerbase.info</a></h4>
            <p>Aimed at promoting transparency in public life, Powerbase.info is free online encyclopaedia of the people and organisations, networks and issues shaping the public agenda. It currently contains 17,000 pages within 25 separate ‘portals’, on topics such as climate, counter-terrorism, and the health, alcohol and nuclear lobbies.</p>


            <h4><a href="http://www.spinwatch.org/">Spinwatch.org</a></h4>
            <p>Spinwatch is a non-profit organisation that investigates the way that the public relations (PR) and lobbying industry and government propaganda distort public debate and undermine democracy. It also campaigns for change, particularly around lobbying transparency. The website contains blogs, reports and details of campaigns. </p>

            <h4><a href="http://www.unlockdemocracy.org/">Unlock Democracy</a></h4>
            <p>Unlock Democracy is a grassroots campaign for democratic reform and to increase participation in politics. We are owned and run by our members. Our aim is to build a better democracy, reconnecting politics with ordinary people. We are campaigning to reform the way our Parliament is elected and how it is run. We want to limit the influence of big money in politics and introduce transparency in lobbying. We want to empower people to decide how to run their local communities.  </p>

            <h4><a href="https://www.opensecrets.org/about/">OpenSecrets.org</a></h4>
            <p>OpenSecrets does in the US what undertheInfluence is aiming to do in the UK (it’s the model!). Run by the Centre for Responsive Politics, it is the most comprehensive resource for campaign contributions, lobbying data and analysis anywhere. Its particularly useful for finding out more about lobbying over there by organisations that lobby here.</p>

            <h4><a href="http://www.theyworkforyou.com">TheyWorkForYou</a></h4>
            <p>This MySociety site provides a huge amount of official information on MPs and Lords all in one place. You can find out, for example, how MPs have voted, what they’ve said in Parliament, or questions they’ve submitted.</p>

            <h4><a href="https://www.whatdotheyknow.com/help/about">Whatdotheyknow</a></h4>
            <p>Another useful site from MySociety that helps you to access information from government, through the Freedom of Information Act. The store of previously submitted FOI requests is also a good resource. </p>

        </div>
    </div>
    <div class="col-md-1"></div>
    </div>

{% endblock article %}
