{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block article %}
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div id="government-container">
            <h3><b>Sources &amp; Resources</b></h3>

            <p>Under The Influence combines the following data sources:</p>

            <ul>
                <li>Donations to political parties: <a href="http://www.electoralcommission.org.uk/">Electoral Commission</a></li>
                <li>MPs and Lords registers of interests: <a href="http://www.theyworkforyou.com/">TheyWorkForYou</a></li>
                <li>Register of Lobbyists: <a href="http://www.appc.org.uk/previous-registers/">Association of Professional Political Consultants</a></li>
                <li>Register of Lobbyists: <a href="http://www.prca.org.uk/">Public Relations Consultants Association</a></li>
            </ul>

            <h3>Resources</h3>

            <ul>
                <li><a href="http://powerbase.info/index.php/Main_Page">Powerbase</a></li>
                <li><a href="http://www.spinwatch.org/">Spinwatch</a></li>
                <li><a href="http://www.unlockdemocracy.org/">Unlock Democracy</a></li>
                <li><a href="http://www.theyworkforyou.com">TheyWorkForYou</a></li>
            </ul>

            <h3>Glossary</h3>

            <p><em>Lobbyist</em>: a lobbyists attempts to influence the decisions of government. A commercial lobbyist is someone who is paid to do this.</p>

            <p><em>Lobbying agency</em>: a company made up of lobbyists for hire (and normally combined with public relations people as well), who work on behalf of a number of clients, normally corporations.</p>

        </div>
    </div>
    <div class="col-md-1"></div>
    </div>

{% endblock article %}
