{% extends "layout.html" %}

{% block title %}
    Sources &amp; Resources
{% endblock %}

{% block article %}
<div class="col-md-8 col-md-offset-1">
    <h3>Sources</h3>

    <p>Under The Influence combines the following data sources:</p>

    <ul>
        <li>Donations to political parties: Electoral Commission data</li>
        <li>MPs Register of Interest</li>
        <li>Lords Register of Interest</li>
        <li>Register of Lobbyists: Association of Professional Political Consultants</li>
        <li>Register of Lobbyists: Public Relations Consultants Association</li>
    </ul>

    <h3>Resources</h3>

    <ul>
        <li>Powerbase</li>
        <li>Spinwatch</li>
        <li>Unlock Democracy</li>
        <li>TheyWorkForYou</li>
    </ul>

    <h3>Glossary</h3>

    <p><em>Lobbyist</em>: a lobbyists attempts to influence the decisions of government. A commercial lobbyist is someone who is paid to do this.</p>

    <p><em>Lobbying agency</em>: a company made up of lobbyists for hire (and normally combined with public relations people as well), who work on behalf of a number of clients, normally corporations.</p>
</div>
{% endblock article %}
